<section id="footer">
    <div class="col-sm-12 footer">
        <div class="col-sm-3 footer_left">
            <h2><i class="fa fa-heartbeat"></i>Childhood<span class="store">litora torquent per</span></h2>
            <ul>
                <li class="Fitting"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="Fitting_1"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="Fitting_2"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li class="Fitting_3"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="Fitting_4"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            </ul>
            <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.Praesent libero. Sed cursus </h5>
            <div class="footer_left_1">
                <ul>
                    <li class="super"><a href="#"><i class="fa fa-envelope"></i></a></li>
                    <li class="super_1"><input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="Enter please your" data-bv-field="email" /></li>
                    <li class="super_2"><a href="#">SUBSCRIBE!</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8 footer_right">
            <div class="col-sm-12 footer_right_top">
                <div class="col-sm-3 footer_right_top_1">
                    <h4>DAPIBUSDIUM</h4>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>ABOUT ALL</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>CUNSUMER SERVICE</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>SAGITTIS SETTINGS</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>PRIVATE POLICY</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>TELLUS TERMS</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>CONTACT US</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>MAURIS AND <span class="return">MASSA</span></a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>ADVANCED SEARCH</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i><span class="return">NEWSPAPAE SUBSCRIPTION</span></a></h5>
                </div>
                <div class="col-sm-3 footer_right_top_1">
                    <h4>WHY BUY FROM US</h4>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>SHOPPING & <span class="return">RELATION</span></a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>SEMPER SHOPPING</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>INTERNATIONAL<span class="return">TORQUENT</span></a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>IMPERDIET</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>GROUP DEALS</a></h5>
                </div>
                <div class="col-sm-3 footer_right_top_1">
                    <h4>MY ACCOUNT</h4>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>SIGN IN</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>LOOK CART</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>MY FUSCENEC</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>PORTA MY IPSUM</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>HELP</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>CONTACT US</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>TELLUS AND <span class="return">RELATION</span></a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i>IMPERDIET SEARCH</a></h5>
                    <h5><a href="#"><i class="fa fa-dot-circle-o"></i><span class="return">NEWSELLER SUBSCRIPTION</span></a></h5>
                </div>
                <div class="col-sm-3 footer_right_top_1">
                    <h4>CONTACTS</h4>
                    <h6><i class="fa fa-map-marker"></i>Integer:<span class="glow">Sitamet H76 265F</span></h6>
                    <h6><i class="fa fa-phone"></i>Nostra:<span class="glow">333-8787-2995</span></h6>
                    <h6><i class="fa fa-clock-o"></i>Nulla:<span class="glow">7 days a week from </span></h6>
                    <h6><i class="fa fa-envelope"></i>E-mail:<span class="glow">info@gmail.com </span></h6>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 footer_end">
        <div class="parag text-center">
            <p class="website">© 2013 Your Website Name. All rights reserved | Design by<a href="http://www.templateonweb.com"> TemplateOnWeb</a></p>
        </div>
    </div>
</section>